:root {
  --primary-colour: #66bfbf;
  --secondary-colour: #eaf6f6;
  --third-colour: #fcfefe;
  --fourth-colour: #f76b8a;
  --box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
  --text-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

body {
  background-color: #4b8378;
}

h1 {
  display: flex;
  justify-content: center;
  font-family: "Golos Text", sans-serif;
  font-family: "Handjet", cursive;
  font-family: "Lato", sans-serif;
  font-family: "Noto Sans JP", sans-serif;
  color: var(--primary-colour);
  font-size: 60px;
  padding-top: 200px;
  padding-bottom: 20px;
}

h2 {
  display: flex;
  justify-content: center;
  font-family: "Golos Text", sans-serif;
  font-family: "Handjet", cursive;
  font-family: "Lato", sans-serif;
  font-family: "Noto Sans JP", sans-serif;
  color: var(--secondary-colour);
  padding: 100px 0 0 0;
  font-size: 40px;
}

h3 {
  display: flex;
  justify-content: center;
  font-family: "Golos Text", sans-serif;
  font-family: "Handjet", cursive;
  font-family: "Lato", sans-serif;
  font-family: "Noto Sans JP", sans-serif;
  color: var(--secondary-colour);
  margin: 5px;
}

.buttons {
  display: flex;
  justify-content: center;
  margin: 80px;
}

.contactMe {
  color: var(--secondary-colour);
  font-family: "Golos Text", sans-serif;
  font-family: "Handjet", cursive;
  font-family: "Lato", sans-serif;
  font-family: "Noto Sans JP", sans-serif;
  margin: 20px;
  padding: 20px;
  border-radius: 7px;
  background-color: var(--primary-colour);
  box-shadow: var(--box-shadow);
  border: 0px;
}

.aboutMe {
  color: var(--primary-colour);
  font-family: "Golos Text", sans-serif;
  font-family: "Handjet", cursive;
  font-family: "Lato", sans-serif;
  font-family: "Noto Sans JP", sans-serif;
  margin: 20px;
  padding: 30px;
  border-radius: 7px;
  background-color: var(--secondary-colour);
  box-shadow: var(--box-shadow);
  border: 0px;
}

.projects {
  color: var(--secondary-colour);
  font-family: "Golos Text", sans-serif;
  font-family: "Handjet", cursive;
  font-family: "Lato", sans-serif;
  font-family: "Noto Sans JP", sans-serif;
  margin: 20px;
  padding: 35px;
  border-radius: 7px;
  background-color: var(--primary-colour);
  box-shadow: var(--box-shadow);
  border: 0px;
}
.aboutMeLink {
  color: var(--primary-colour);
  text-decoration: none;
  transition: 0.3s;
}
.contactMeLink {
  color: var(--secondary-colour);
  text-decoration: none;
  transition: 0.3s;
}

.projectsLink {
  color: var(--secondary-colour);
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: white;
}

.work {
  color: var(--secondary-colour);
}
