:root {
  --primary-colour: #1f4969;
  --secondary-colour: #6ff892;
  --third-colour: #352f44;
  --fourth-colour: #e8630a;
  --box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
  --text-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

body {
  background-color: var(--primary-colour);
}

h1 {
  font-family: "Bebas Neue", sans-serif;
  color: var(--fourth-colour);
  margin: 5px;
  font-weight: 50;
  padding-top: 80px;
  font-size: 100px;
  text-align: center;
  text-decoration: underline;
}

h2 {
  font-family: "Montserrat", sans-serif;
  color: var(--secondary-colour);
  margin: 5px 5px 5px 5px;
  padding-top: 30px;
  padding-bottom: 30px;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: white;
  margin: 5px 5px 5px 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 23px;
  font-weight: bold;
  text-align: center;
  border: solid 4px;
  border-radius: 10px;
}

ul.links {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  background-color: #6ff892;
  border-radius: 5px;
}

li a {
  float: right;
  font-family: "Bebas Neue", sans-serif;
  font-size: 50px;
  color: var(--third-colour);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
}

i {
  font-size: 55px;
  padding: 5px;
}

p {
  background-color: #407088;
  border-radius: 10px;
  margin: 20px;
  padding: 12px;
}
section {
  font-family: "Montserrat", sans-serif;
  color: white;
  margin: 5px 5px 5px 5px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 14px;
  text-align: center;
}
a:hover {
  color: var(--fourth-colour);
  background-color: var(--third-colour);
  transition: ease-in;
  border-radius: 5px;
}

.firstName {
  font-family: "Bebas Neue", sans-serif;
  color: var(--secondary-colour);
  font-weight: 400;
  font-size: 350px;
  padding-top: 200px;
}

.secondName {
  font-family: "Bebas Neue", sans-serif;
  color: var(--secondary-colour);
  font-weight: 400;
  font-size: 350px;
  color: var(--fourth-colour);
}
.myContacts {
  font-family: "Montserrat", sans-serif;
  color: var(--secondary-colour);
  margin: 5px 5px 5px 5px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
}

.aboutMe {
  font-family: "Montserrat", sans-serif;
  color: white;
  margin: 5px 5px 5px 5px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
}

.icon {
  color: var(--fourth-colour);
}

.highlight {
  color: var(--secondary-colour);
  font-weight: bold;
}

.emaiLink {
  color: var(--fourth-colour);
}
.aboutMeLink {
  color: var(--fourth-colour);
  background-color: var(--third-colour);
  border-radius: 5px;
}
.projectsLink {
  color: var(--fourth-colour);
  background-color: var(--third-colour);
  border-radius: 5px;
}
.contactMeLink {
  color: var(--fourth-colour);
  background-color: var(--third-colour);
  border-radius: 5px;
}

.contactInfo {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: var(--fourth-colour);
  font-size: 30;
  padding: 10px;
}
a.ld {
  color: white;
}

a.iG {
  color: white;
}
a.git {
  color: white;
}
.contact {
  text-align: center;
}

.weatherApp {
  text-align: center;
}
.react {
  border-radius: 12px;
  max-width: 800px;
  padding-top: 60px;
}
