:root {
  --primary-colour: #132743;
  --secondary-colour: #6ff892;
  --third-colour: #132743;
  --fourth-colour: #e8630a;
  --box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
  --text-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

body {
  background-color: #17191b;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  margin-top: 20px;
  max-width: 100%;
  height: auto;
  border-radius: 12px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

h1 {
  font-family: 'Bebas Neue', sans-serif;
  color: #6ff892;
  margin: 5px;
  font-weight: 50;
  padding-top: 35px;
  font-size: 20;
  text-align: center;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #fdb44b;
  text-align: center;
  font-size: 13px;
  margin: 0;
  padding-top: 10px;
}
h5 {
  color: #fdb44b;
  font-size: 20px;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  color: #f8f5e3;
  padding-left: 10px;
  font-size: 20px;
}

ul.links {
  list-style-type: none;
  margin: 0;
  padding: 5px;
  overflow: hidden;
  background-color: #17191b;
  border-radius: 5px;
}

li a {
  float: right;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: #f8f5e3;
  padding: 5px;
  text-decoration: none;
  transition: 0.5s;
}

p {
  color: #dde4ef;
  font-size: 14px;
}
section {
  font-family: 'Montserrat', sans-serif;
  color: #f8f5e3;
  font-size: 14px;
  text-align: center;
  letter-spacing: 1px;
  /* line-height: 80%; */
}
a:hover {
  color: #fdb44b;
  transition: ease-in;
  border-radius: 5px;
}

i:hover {
  color: #2a2c2e;
}
.firstName {
  font-family: 'Bebas Neue', sans-serif;
  text-align: center;
  color: #2c786c;
  font-weight: 400;
  font-size: 100px;
  padding-top: 50px;
  padding-left: 10px;
  text-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

.secondName {
  font-family: 'Bebas Neue', sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 100px;
  color: #fdb44b;
  padding-left: 5px;
  padding-right: 10px;
  text-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

.aboutMeText {
  padding-top: 30px;
}

.projectsPage {
  padding-top: 30px;
}

#aboutMeIcons {
  font-size: 15px;
  color: #2c786c;
  padding: 5px;
  padding-top: 18px;
}

.projectIcon {
  font-size: 13px;
}

.card-title {
  margin-top: 5px;
  margin-bottom: 5px;
}

#card {
  padding-bottom: 40px;
}

.contactMeText {
  padding-top: 30px;
}

.emaiLink {
  color: var(--fourth-colour);
}
.aboutMeLink,
.projectsLink,
.contactMeLink {
  color: #898991;
  border-radius: 5px;
}

.contactInfo {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #fdb44b;
  font-size: 12px;
}
a.ld {
  color: white;
}

a.iG {
  color: white;
}
a.git {
  color: white;
}
.contact {
  text-align: center;
}

.homeContact {
  text-align: center;
}
a {
  text-decoration: none;
  color: #2c786c;
}

a:hover {
  color: #fdb44b;
  text-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}
.projectsIcons {
  font-size: 17px;
}

.iconWorld {
  color: var(--fourth-colour);
}

.iconLi {
  font-size: 20px;
  color: #2c786c;
  margin: 5px;
}

#plantIcon {
  display: flex;
  justify-content: center;
  color: #379956;
  font-size: 15px;
}

.hero {
  text-align: center;
  font-size: 15px;
  font-weight: 400;
}

.jumbotron {
  margin-top: 60px;
}

.livingData img {
  width: 100px;
  height: auto;
}

.card {
  border: solid 2px #222831;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

.card:hover {
  background-color: #222831;
}

/* Target the specific icons within the card using their unique class */
#card .aboutMeIcons {
  color: #f8f5e3;
  font-size: ;
}

#weather {
  color: #94f6f2;
}

#energy {
  color: #8bc34a;
}

#data {
  color: #2d6e7e;
}

#adhd {
  color: #f48db4;
}

/* ----MEDIA QUERIES FOR LARGER DEVICES */

@media only screen and (min-width: 600px) {
  h1 {
    padding-bottom: 40px;
    text-decoration: none;
  }
  .firstName {
    text-align: center;
    font-size: 200px;
    margin: 0 auto;
    padding-top: 30px;
  }

  .secondName {
    text-align: center;
    font-size: 200px;
    margin: auto 0;
    padding: 5px;
  }

  ul {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
  }
  li a {
    padding: 0 20px 0 20px;
    font-size: 40px;
  }
  .aboutMeText {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 60%;
    margin: auto;
    margin-bottom: 80px;
  }

  .contactMeText {
    font-size: 20px;
    font-size: 25px;
    max-width: 50%;
    margin: auto;
    padding-top: 20px;
  }

  .contactInfo {
    padding-top: 20px;
    font-size: 30px;
  }

  h3 {
    font-size: 25px;
    padding-top: 30px;
  }

  .iconLi {
    font-size: 60px;
  }

  .tools {
    font-size: 20px;
    padding-top: 70px;
    padding: 5px;
  }

  .weatherAppLink {
    font-size: 30px;
  }

  .projectsIcons {
    font-size: 35px;
  }

  .aboutMeLink,
  .projectsLink,
  .contactMeLink {
    color: #898991;
    border-radius: 5px;
  }

  li a {
    float: right;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #f8f5e3;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    transition: 0.5s;
  }
  p {
    color: #dde4ef;
    font-size: 15px;
  }

  section {
    letter-spacing: 2px;
  }

  #aboutMeIcons {
    font-size: 30px;
    color: #2c786c;
    padding: 5px;
    padding-top: 18px;
   
  }

  #plantIcon {
    padding-top: 20px;
    font-size: 20px;
  }

  img {
    margin-top: 40px;
    max-width: 100%;
    height: auto;
    border-radius: 12px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
  }

  /* CSS to reduce the width of the card and center it */
  .card {
    max-width: 700px; /* Adjust the width as needed */
    margin: 0 auto;
    border: solid 2px #222831;
    padding: 10px
    border-radius: 5px; 
    box-shadow: none;
  }

  .card:hover {
    background-color: #222831;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
  }

  .iconLi {
  font-size: 30px;
  color: #2c786c;
  margin: 5px;
}
}
